<div class="contaienr">
    <div class="card">
        <div class="card-header is-flex is-justify-content-center">
            <div class="card-header-icon">
                <figure class="image">
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
            </div>
        </div>
        <div class="card-content">
            <div class="content">
                <div class="container">
                    <section class="section">
                        <p class="has-text-centered is-size-2">User Name</p>
                        <h2 class="subtitle has-text-centered">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris
                        </h2>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
