/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .vw-25 {
    width: 25vw !important;
 }

 .vw-50 {
    width: 50vw !important;
 }

 .vw-75 {
    width: 75vw !important;
 }

 .vh-25 {
    height: 25vw !important;
 }

 .vh-50 {
    height: 50vw !important;
 }

 .vh-75 {
    height: 75vw !important;
 }